@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
body {
  background: rgb(0, 181, 255);
  background: linear-gradient(90deg, rgba(0, 181, 255, 0.518644958) 6%, rgba(0, 181, 255, 0) 28%, rgba(0, 181, 255, 0.52) 50%, rgba(0, 181, 255, 0) 71%, rgba(0, 181, 255, 0.52) 92%);
}

h1 h2 h3 h4 h5 p {
  font-family: "Roboto", sans-serif;
  color: black;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.3em;
}

p {
  font-size: 1em;
}

.bg-argentina {
  background: rgb(0, 181, 255);
  background: linear-gradient(90deg, rgba(0, 181, 255, 0.3841911765) 22%, rgba(237, 250, 22, 0.4178046218) 48%, rgba(0, 181, 255, 0.3757878151) 76%);
}

.bg-worldcup {
  background-color: rgba(85, 13, 13, 0.808);
}

.bg-ucl {
  background-color: rgb(93, 82, 194);
}

.bg-ligue {
  background-color: rgb(78, 78, 131);
}

.bg-text {
  background: rgb(18, 59, 127);
  background: linear-gradient(90deg, rgba(18, 59, 127, 0.7119222689) 14%, rgba(44, 195, 164, 0.4514180672) 46%, rgba(15, 121, 120, 0.762342437) 60%, rgba(14, 45, 153, 0.5970763305) 86%);
}

.text-center {
  text-align: center;
}

.text-size-md {
  font-size: 1.3em;
}

.text-size-md-dos {
  font-size: 1.5em;
}

.text-size-lg {
  font-size: 2em;
}

.text-lightblue {
  color: lightblue !important;
}

.text-argentina {
  color: rgb(199, 199, 30) !important;
}

.text-barcelona {
  color: rgb(28, 28, 207) !important;
}

.text-psg {
  color: rgb(187, 177, 177) !important;
}

.text-balondeoro {
  color: gold !important;
}

.text-thebest {
  color: paleturquoise !important;
}

.margin-y {
  margin: 0 auto;
  margin-bottom: 2.2em;
  margin-top: 1em;
}

.margin-left {
  margin-left: 2.5em !important;
}

.underline {
  text-decoration: underline;
  text-decoration-color: white;
  text-underline-offset: 0.4em;
  text-decoration-style: dashed;
}

.nav__box {
  background-color: rgb(243, 243, 243);
}
.nav__box .navbar-brand:hover {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
}
.nav__box ul li a:hover {
  font-weight: 500;
}

/* start intro del index*/
.index-intro__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(5, 5, 5);
  font-weight: 300 !important;
  width: 90%;
  margin: 0 auto;
  margin-top: 2em;
}
.index-intro__box img {
  width: 100%;
}
.index-intro__box article h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 500;
  text-align: center;
  color: lightblue;
  margin: 1em 0em;
}
.index-intro__box article p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 300;
  text-align: left;
  color: lightblue;
  margin: 1em 0em;
  margin-left: 1em;
}

.index-h2__box {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 500;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
  width: 90%;
}
.index-h2__box h2 {
  background-color: rgb(225, 246, 250);
  padding: 0.5em;
  border-radius: 0.6em;
}

.index__intro-galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
  width: 80%;
}
.index__intro-galeria h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  line-height: 1.3em;
  font-weight: 500;
  text-align: center;
  color: black;
  margin: 1em 0em;
  background-color: rgb(225, 246, 250);
  padding: 0.5em;
  border-radius: 0.6em;
}
.index__intro-galeria a img {
  width: 99%;
}

.index-card__box figure {
  width: 80%;
  border: 2px solid black;
}

.card-body figcaption {
  font-weight: 500;
}
.card-body p {
  color: black;
  font-weight: 300;
}

.galeria__h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5em 0em;
  width: 99%;
}
.galeria__h1 h1 {
  background-color: rgb(225, 246, 250);
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  line-height: 1.4em;
  font-weight: 300;
  text-align: center;
  color: black !important;
  padding: 0.8em;
  border-radius: 0.6em;
}

.galeria__box {
  display: grid;
  justify-content: center;
  grid-template-columns: 48vw 48vw;
  grid-template-rows: repeat(11, 25vh);
  grid-template-areas: "img2 img2" "img2 img2" "img1 img3" "img1 img4" "img5 img6" "img7 img9" "img8 img8" "video1 video1" "video2 video2" "video3 video3" "video4 video4";
  margin-left: 0.5em;
  column-gap: 0.1em;
  row-gap: 0.1em;
}
.galeria__box div {
  border: 1px solid;
}
.galeria__box div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.galeria__box div iframe {
  width: 100%;
  height: 100%;
}

.gimg1 {
  grid-area: img1;
}

.gimg2 {
  grid-area: img2;
}

.gimg3 {
  grid-area: img3;
}

.gimg4 {
  grid-area: img4;
}

.gimg5 {
  grid-area: img5;
}

.gimg6 {
  grid-area: img6;
}

.gimg7 {
  grid-area: img7;
}

.gimg8 {
  grid-area: img8;
}

.gimg9 {
  grid-area: img9;
}

.g-video1 {
  grid-area: video1;
  width: 100%;
}

.g-video2 {
  grid-area: video2;
  width: 100%;
}

.g-video3 {
  grid-area: video3;
  width: 100%;
}

.g-video4 {
  grid-area: video4;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 243, 243);
  margin-top: 1em;
}
footer p {
  margin-top: 0.5em;
  margin-left: 0.5em;
}

.footer-icon__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-icon__box a {
  width: 12%;
  margin: 0.2em;
}
.footer-icon__box a img {
  width: 100%;
}

.trayectoria__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
.trayectoria__intro h1 {
  background-color: rgb(225, 246, 250);
  border-radius: 0.6em;
  padding: 0.8em;
}

.trayectoria__section--h2 {
  width: 90%;
}

.trayectoria__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
.trayectoria__section article {
  background-color: white;
  width: 99%;
  border: 2px solid rgb(224, 214, 157);
  margin: 0em 1em;
}
.trayectoria__section--image {
  width: 100%;
  border: solid 2px rgb(173, 113, 113);
}
.trayectoria__section--image img {
  width: 100%;
}
.trayectoria__section--text h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  line-height: 1.6em;
  font-weight: 700;
  text-align: left;
  color: black;
  margin-left: 0.3em;
}
.trayectoria__section--text p {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  line-height: 1.3em;
  font-weight: 300;
  text-align: left;
  color: black;
  margin-left: 0.3em;
}

.partidos__intro {
  display: block;
  margin: 2em auto;
  background-color: rgb(225, 246, 250);
  width: 90%;
  border-radius: 0.6em;
}
.partidos__intro h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  line-height: 1.6em;
  font-weight: 700;
  text-align: center;
  color: black;
}
.partidos__intro p {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  line-height: 1.4em;
  font-weight: 300;
  text-align: center;
  color: black;
}

.partidos__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
.partidos__box h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  line-height: 1.6em;
  font-weight: 700;
  text-align: center;
  color: black;
  margin: 0.5em 0em;
}
.partidos__box p {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  line-height: 1.4em;
  font-weight: 300;
  text-align: center;
  color: black;
  margin-top: 1em;
  margin-bottom: 3em;
}
.partidos__box article {
  width: 99%;
  margin: 2em 0em;
  background-color: rgb(225, 246, 250);
  border: 2px solid rgb(199, 198, 198);
  border-radius: 0.6em;
}
.partidos__box article div {
  width: 100%;
}
.partidos__box article div img {
  width: 100%;
  margin-bottom: 1em;
}
.partidos__box table {
  width: 99%;
  font-size: 1.2em;
  margin-bottom: 2em;
}
.partidos__box table thead {
  width: 100%;
  text-align: center;
  color: rgb(240, 238, 238);
  background: rgb(2, 2, 31);
  background: linear-gradient(90deg, rgba(2, 2, 31, 0.9472163866) 17%, rgb(156, 164, 193) 46%, rgb(2, 18, 74) 77%, rgb(13, 29, 83) 85%);
  border: 1px solid black;
}
.partidos__box table thead th {
  border: 2px solid black;
}
.partidos__box table tbody {
  background: rgb(2, 2, 31);
  background: linear-gradient(90deg, rgba(2, 2, 31, 0.9472163866) 25%, rgb(0, 29, 130) 46%, rgb(2, 18, 74) 66%, rgb(13, 29, 83) 80%);
  text-align: center;
  width: 100%;
  color: rgb(255, 255, 255);
}
.partidos__box table tbody tr {
  width: 100%;
  border: 2px solid black;
}
.partidos__box table tbody .td--one {
  border: 2px solid black;
}
.partidos__box table tbody .td--two {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1em 0em;
}
.partidos__box table tbody .td--two div {
  width: 30%;
  margin: 0em auto;
}
.partidos__box table tbody .td--two img {
  width: 100%;
}
.partidos__box table tbody .td--three {
  border: 2px solid black;
}

.contacto__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 1em auto;
}
.contacto__intro p {
  font-weight: 500;
  font-size: 1.5em;
}
.contacto__intro h1 {
  border: 2px solid rgb(243, 243, 243);
  padding: 1em;
  background-color: #318CE7;
  color: white;
}

.contacto__formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacto__formulario--form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  border: 2px solid rgb(247, 247, 247);
  border-radius: 20px;
  background: #318CE7;
  margin-bottom: 1em;
}
.contacto__formulario--form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5em 0em;
}
.contacto__formulario--form label {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 500;
  text-align: center;
  color: rgb(230, 230, 230);
  margin: 0.4em 0em;
}
.contacto__formulario--form input {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  line-height: 1.4em;
  font-weight: 300;
  text-align: center;
  color: black;
}
.contacto__formulario--form .formulario__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1em 0em;
  width: 100%;
}
.contacto__formulario--form .formulario__button input {
  width: 50%;
  border: 2px solid rgb(224, 219, 219);
  margin: 0.5em 1em;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .index-intro__box article h1 {
    font-size: 2em;
  }
  .index-intro__box article p {
    font-size: 1.3em;
  }
}
@media (width > 1200px) {
  .index-intro__box {
    flex-direction: row-reverse;
  }
  .index-intro__box article {
    width: 50%;
  }
  .index-intro__box article h1 {
    margin: 0.5em 0em;
  }
  .index-intro__box article p {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 1em;
  }
}
@media (width > 1500px) {
  .index-intro__box {
    flex-direction: row-reverse;
  }
  .index-intro__box article {
    width: 50%;
  }
  .index-intro__box article h1 {
    margin-bottom: 2em;
    font-size: 2em;
  }
  .index-intro__box article p {
    font-size: 1.5em;
    margin-right: 2em;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .index-card__box figure {
    width: 49% !important;
    font-size: 1em;
  }
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .footer-icon__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 50%;
    margin-right: 1em;
  }
  .footer-icon__box a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15%;
  }
  .footer-icon__box a img {
    width: 100%;
  }
  .galeria__h1 {
    font-size: 2em;
  }
  .galeria__box {
    grid-template-columns: repeat(4, 24.5vw);
    grid-template-rows: repeat(4, 30vh);
    grid-template-areas: "img1 img2 img3 img4" "img1 img5 img6 img6" "img7 img7 img8 img9 " "video1 video2 video3 video4";
  }
  .td--two img {
    width: 15% !important;
  }
  .trayectoria__section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
@media (width > 1200px) {
  .font-lg {
    font-size: 2em;
  }
  .font-md {
    font-size: 1.3em;
  }
  .index-intro__box {
    width: 95%;
  }
  .index-card__box {
    width: 95%;
    margin: 0 auto;
  }
  .index-card__box figure {
    width: 33% !important;
  }
  .card-body figcaption {
    font-size: 1.1em;
  }
  .card-body a {
    font-size: 1.1em;
  }
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  footer p {
    font-size: 1.2em;
  }
  .footer-icon__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 33%;
    margin-right: 1em;
    width: 20%;
  }
  .footer-icon__box a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15%;
  }
  .footer-icon__box a img {
    width: 100%;
  }
  .galeria__h1 {
    font-size: 2em;
  }
  .galeria__box {
    grid-template-columns: repeat(4, 24.5vw);
    grid-template-rows: repeat(4, 40vh);
    grid-template-areas: "img1 img2 img3 img4" "img1 img5 img6 img6" "img7 img7 img8 img9 " "video1 video2 video3 video4";
  }
  .td--two img {
    width: 10% !important;
  }
  .partidos__intro {
    width: 75%;
  }
  .partidos__intro h1 {
    font-size: 2em;
  }
  .partidos__intro p {
    font-size: 1.5em;
    line-height: 1.6em;
  }
  .partidos__box p {
    font-size: 1.5em;
    line-height: 1.6em;
  }
  .partidos__box h2 {
    font-size: 2em;
    line-height: 1.7em;
  }
  .partidos__box article {
    width: 80%;
  }
  .partidos__box article div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .partidos__box article div img {
    width: 80%;
  }
  .partidos__box table {
    width: 79%;
  }
  .partidos__box table tbody .td--two img {
    margin: 0em 3em;
  }
  .trayectoria__section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .contacto__formulario--form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .contacto__formulario--form label {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    line-height: 1.6em;
    font-weight: 500;
    text-align: center;
    color: rgb(240, 240, 240);
    margin: 0.4em 1em;
  }
  .contacto__formulario--form input {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    line-height: 1.6em;
    font-weight: 300;
    text-align: center;
    color: rgb(252, 252, 252);
  }
  .contacto__formulario--form textarea {
    width: 25em;
    height: 20em;
  }
  .contacto__formulario--form .formulario__button input {
    margin-left: 6em;
  }
}
@media (min-width: 1500px) {
  .td--two img {
    width: 6% !important;
  }
}

/*# sourceMappingURL=main.css.map */
