



// commons 

body {
    background: rgb(0,181,255);
background: linear-gradient(90deg, rgba(0,181,255,0.5186449579831933) 6%, rgba(0,181,255,0) 28%, rgba(0,181,255,0.52) 50%, rgba(0,181,255,0) 71%, rgba(0,181,255,0.52) 92%);
}

h1 h2 h3 h4 h5 p {
    font-family: $mainFont;
    color: black;
    
}

h1 {
    font-size: $textMdDos;
    
}

h2 {
    font-size: $textMd;
    
}

h3 {
    font-size: $textMd;
}

p {
    font-size: $textSm;
    
}


// bgs


.bg-argentina {
    background: rgb(0,181,255);
    background: linear-gradient(90deg, rgba(0,181,255,0.3841911764705882) 22%, rgba(237,250,22,0.41780462184873945) 48%, rgba(0,181,255,0.3757878151260504) 76%);
}

.bg-worldcup {
    background-color: rgba(85, 13, 13, 0.808);
   
}

.bg-ucl {
    background-color: rgb(93, 82, 194);
}

.bg-ligue {
     background-color: rgb(78, 78, 131);
}

.bg-text {
    background: rgb(18,59,127);
background: linear-gradient(90deg, rgba(18,59,127,0.711922268907563) 14%, rgba(44,195,164,0.4514180672268907) 46%, rgba(15,121,120,0.76234243697479) 60%, rgba(14,45,153,0.5970763305322129) 86%);
    
}


// text-aligns 

.text-center {
    text-align: center;
}

// text-sizes 

.text-size-md {
    font-size: $textMd;
}

.text-size-md-dos {
    font-size: $textMdDos;
}

.text-size-lg {
    font-size: $textLg;
}

// text color
 
.text-lightblue {
    color: lightblue !important;
}

.text-argentina {
    color: rgb(199, 199, 30) !important;
}

.text-barcelona {
    color: rgb(28, 28, 207) !important;
}

.text-psg {
    color: rgb(187, 177, 177) !important;
}

.text-balondeoro {
    color: gold !important;
}

.text-thebest {
    color: paleturquoise !important;
}


// margins 

.margin-y {
    margin: 0 auto;
    margin-bottom: 2.2em;
    margin-top: 1em;
}

.margin-left {
    margin-left: 2.5em !important;
}


// text style

.underline {
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 0.4em;
   text-decoration-style: dashed;
}

