// footer

footer {
    @include flex (column, center , center);
    background-color: map-get($map: $paleta-box, $key: uno );
    margin-top: 1em;
    
        p {
            margin-top: 0.5em;
            margin-left: 0.5em;

        }
}

.footer-icon__box {
    @include flex (row, center, center);
        a {
            width: 12%;
            margin: 0.2em;
            img {
                width: $widthFull;
            }
        }
}

