//  Breakpoints 

// Breakpoints de Index-Intro con mixins

.index-intro__box {
    @include media (tablet) {

        article {
            h1 {
                font-size: $textLg;
            }

            p {
                font-size: $textMd;
            }
        }
    }

    @include media (desktop) {
        flex-direction: row-reverse;

        article {
            width: $widthMid;

            h1 {
                margin: 0.5em 0em;
            }

            p {
                text-align: center;
                font-size: 1.3em;
                margin-bottom: 1em;
            }
        }


    }

    @include media (desktopLg) {
        flex-direction: row-reverse;

        article {
            width: $widthMid;

            h1 {
                margin-bottom: 2em;
                font-size: $textLg;
            }

            p {
                font-size: $textMdDos;
                margin-right: 2em;
            }
        }

    }
}



// Breakpoint tablet 768 sin mixins 


@media (min-width: 768px) and (max-width: 1200px) {

    // Start index-card

    .index-card__box {

        figure {
            width: 49% !important;
            font-size: $textSm;
        }
    }

    //  Start footer

    footer {
        @include flex (row, center, space-between);

    }

    .footer-icon__box {
        @include flex(row, center, end);
        width: $widthMid;
        margin-right: 1em;

        a {
            @include flex (row, center, center);
            width: 15%;

            img {
                width: $widthFull;
            }
        }
    }

    // Start Galeria Page

    .galeria__h1 {
        font-size: $textLg;
        
    }

    .galeria__box {
        grid-template-columns: repeat(4, 24.5vw);
        grid-template-rows: repeat(4, 30vh);
        grid-template-areas:
            "img1 img2 img3 img4"
            "img1 img5 img6 img6"
            "img7 img7 img8 img9 "
            "video1 video2 video3 video4"
    }

    // Galeria table

    .td--two {
        img {
            width: 15% !important;
        }
    }

    // Start Trayectoria Page

    .trayectoria__section {
        @include flex (row, center, center)
    }


}


// Breakpoint desktop 1200+ sin mixins 



@media (width > 1200px) {

    // Start nav 

    .font-lg {
        font-size: $textLg;
    }

    .font-md {
        font-size: $textMd;
    }

    // Start intro index

    .index-intro__box {
        width: 95%;
    }

    //  Start card

    .index-card__box {

        width: 95%;
        margin: 0 auto;

        figure {
            width: 33% !important;
        }
    }

    .card-body {

        figcaption {
            font-size: 1.1em;
        }

        a {
            font-size: 1.1em;
        }
    }

    // Start footer

    footer {
        @include flex (row, center, space-between);

        p {
            font-size: $textSmDos
        }

    }

    .footer-icon__box {
        @include flex(row, center, end);
        width: $widthSmall;
        margin-right: 1em;
        width: $widthUltraSmall;

        a {
            @include flex (row, center, center);
            width: 15%;

            img {
                width: $widthFull;
            }
        }
    }

    // Start Galeria Page
    
    .galeria__h1 {
        font-size: $textLg;
        
    }


    .galeria__box {
        grid-template-columns: repeat(4, 24.5vw);
        grid-template-rows: repeat(4, 40vh);
        grid-template-areas:
            "img1 img2 img3 img4"
            "img1 img5 img6 img6"
            "img7 img7 img8 img9 "
            "video1 video2 video3 video4"
    }

     // Galeria table

     .td--two {
        img {
            width: 10% !important;
            
        }
    }

    // Start Partidos Page

    .partidos__intro {

        width: 75%;

        h1 {
            font-size: $textLg;
        }

        p {
            font-size: $textMdDos;
            line-height: 1.6em;
        }
    }

    .partidos__box {
        p {
          font-size: $textMdDos;
          line-height: 1.6em;
        }

        h2 {
            font-size: $textLg;
            line-height: 1.7em;
        }

        article {
            width: 80%;
            div {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                 img {
                    width: 80%;
                 }
            }
        }
        table {
            width: 79%;
                tbody {
                    .td--two {
                        img {
                            margin: 0em 3em;
                        }
                    }
                }
        }

        
    }


    // Start Trayectoria Page

    .trayectoria__section {
        @include flex (row, center, center)
    }

    // Start Contacto Formulario


    .contacto__formulario--form {

        div {
            @include flex (row, center, center);
        }

        label {
            @include textos ($mainFont, $textMdDos, 1.6em, 500, center, rgb(240, 240, 240));
            margin: 0.4em 1em;
        }


        input {
            @include textos ($mainFont, $textMdDos, 1.6em, 300, center, rgb(252, 252, 252));
            

        }

        textarea {
            width: 25em;
            height: 20em;
        }

        .formulario__button {
            input {
                margin-left: 6em;
            }
        }

        
    }

}

@media (min-width: 1500px) {

    // Galeria table

    .td--two {
        img {
            width: 8% !important;
        }
    }
}