//  Breakpoints 

// Breakpoints de Index-Intro con mixins

.index-intro__box {
    @include media (tablet) {

        article {
            h1 {
                font-size: $textLg;
            }

            p {
                font-size: $textMd;
            }
        }
    }

    @include media (desktop) {
        flex-direction: row-reverse;

        article {
            width: $widthMid;

            h1 {
                margin: 0.5em 0em;
            }

            p {
                text-align: center;
                font-size: 1.3em;
                margin-bottom: 1em;
            }
        }


    }

    @include media (desktopLg) {
        flex-direction: row-reverse;

        article {
            width: $widthMid;

            h1 {
                margin-bottom: 2em;
                font-size: $textLg;
            }

            p {
                font-size: $textMdDos;
                margin-right: 2em;
            }
        }

    }
}



// Breakpoint tablet sin mixins 


@media (min-width: 768px) and (max-width: 1200px) {

    // Start index-card

    .index-card__box {

        figure {
            width: 49% !important;
            font-size: $textSm;
        }
    }

    //  Start footer

    footer {
        @include flex (row, center, space-between);

    }

    .footer-icon__box {
        @include flex(row, center, end);
        width: $widthMid;
        margin-right: 1em;

        a {
            @include flex (row, center, center);
            width: 15%;

            img {
                width: $widthFull;
            }
        }
    }

    // Start Galeria Page

    .galeria__box {
        grid-template-columns: repeat(4, 24.5vw);
        grid-template-rows: repeat(4, 30vh);
        grid-template-areas:
            "img1 img2 img3 img4"
            "img1 img5 img6 img6"
            "img7 img7 img8 img9 "
            "video1 video2 video3 video4"
    }



}


// Breakpoint desktop sin mixins 



@media (width > 1200px) {

    // Start nav 

    .font-lg {
        font-size: $textLg;
    }

    .font-md {
        font-size: $textMd;
    }

    //  Start card

    .index-card__box {

        figure {
            width: 33% !important;
        }
    }

    .card-body {

        figcaption {
            font-size: 1.1em;
        }

        a {
            font-size: 1.1em;
        }
    }

    // Start footer

    footer {
        @include flex (row, center, space-between);

        p {
            font-size: $textSmDos
        }

    }

    .footer-icon__box {
        @include flex(row, center, end);
        width: $widthSmall;
        margin-right: 1em;
        width: $widthUltraSmall;

        a {
            @include flex (row, center, center);
            width: 15%;

            img {
                width: $widthFull;
            }
        }
    }

    // Start Galeria Page

    .galeria__box {
        grid-template-columns: repeat(4, 24.5vw);
        grid-template-rows: repeat(4, 40vh);
        grid-template-areas:
            "img1 img2 img3 img4"
            "img1 img5 img6 img6"
            "img7 img7 img8 img9 "
            "video1 video2 video3 video4"
    }


    // Start Partidos Page

    .partidos__intro {
        h1 {
            font-size: $textLg;
        }

        p {
            font-size: $textMdDos;
            line-height: 1.7em;
        }
    }


    .partidos__article--worldcup {
        h2 {
            font-size: $textLg;
        }

        p {
            font-size: $textMdDos;
            line-height: 1.7em;
        }
    }

    .partidos__article--ucl {
        h2 {
            font-size: $textLg;
        }

        p {
            font-size: $textMdDos;
            line-height: 1.7em;
        }
    }

    .partidos__article--ligue {
        h2 {
            font-size: $textLg;
        }

        p {
            font-size: $textMdDos;
            line-height: 1.7em;
        }

    }

    .partidos-table__box {
        tbody {

            .td--one {
                font-size: $textMdDos;
            }

            .td--two {
                img {
                    width: 8%;

                }
            }

            .td--three {
                font-size: $textMdDos;
            }
        }

    }


    // Start Trayectoria Box Equipos 

    .trayectoria__section--equipos {
        @include flex (row, center, center)
    }


    .trayectoria__section--text {
        h3 {
            @include textos ($mainFont, $textMdDos, 1.5em, 500, left, black);
            margin-left: 0.3em;
        }

        p {
            @include textos ($mainFont, $textMd, 1.3em, 300, left, black);
            margin-left: 0.3em;
        }
    }

    .section--argentina {
        width: 33%;
    }


    .section--barcelona {
        width: 33%;
    }

    .section--psg {
        width: 33%;
    }

    .section--balondeoro {
        width: 33%;
    }


    .section--thebest {
        width: 33%;
    }

    .section--botin {
        width: 33%;
    }

    // Start Contacto Formulario

    .contacto__intro {
        margin: 2em 0em;
    }

    .contacto__formulario {
        width: 100%;

        div {
            @include flex (row, center, center);
        }

        label {
            @include textos ($mainFont, $textLg, 2.2em, 500, center, black);
            margin: 0.4em 1em;
        }


        input {
            @include textos ($mainFont, $textLg, 2.2em, 300, center, black);

        }

        textarea {
            width: 100%;
        }

        .formulario_button {
            margin-left: 7em;
        }
    }

  
    

}





// @media(min-width:768px){

//     .box-home h1 {
//        font-size: 2em;
//     }
//     .box-home p {
//         font-size: 1.2em;

//     }
//     /* card index */
//     .w-md {
//         width: 49% !important;
//         border: 2px solid black;
//         font-size: 1em;

//     }   

//    footer {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;

//    } 

//     .footer-icon img{
//         width: 100%;       
//     }

//     .footer-icon  {
//        display: flex;
//        flex-direction: row;
//        justify-content: end;
//        width: 40%;
//        margin-right: 1.2em;

//     }

//     .footer-icon a {
//         display: flex;
//         align-items: center;
//         width: 15%;

//     }

//     .galeria {
//         grid-template-columns: repeat(4,24.5vw);
//         grid-template-rows: repeat(4,30vh);
//         grid-template-areas:    
//         "img1 img2 img3 img4"
//         "img1 img5 img6 img6"
//         "img7 img7 img8 img9 "
//         "video1 video2 video3 video4"

//     }



// }

// @media (min-width: 1200px) {
//     .box-home {
//         flex-direction: row-reverse;        
//     }

//     .box-home h1 {
//         margin: 0.5em 0em;
//     }

//     .box-home p {
//         text-align: center;
//         font-size: 1.1em;
//         margin-bottom: 1em;
//         margin: 0;
//     }

//     .box-home article {
//         width: 40%;
//     }

//     .img-home {
//         width: 60%;
//     }

//     .img-home img {
//         width: 100%;


//     }

//     .w-md {
//         width: 33% !important;
//     }

//     footer {
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;

//        } 

//         .footer-icon img{
//             width: 100%;       
//         }

//         .footer-icon  {
//            display: flex;
//            flex-direction: row;
//            justify-content: end;
//            width: 25%;

//         }

//         .footer-icon a {
//             display: flex;
//             align-items: center;
//             width: 15%;
//         }

//         .galeria {
//             grid-template-columns: repeat(4,24.5vw);
//             grid-template-rows: repeat(4,40vh);
//             grid-template-areas:    
//             "img1 img2 img3 img4"
//             "img1 img5 img6 img6"
//             "img7 img7 img8 img9 "
//             "video1 video2 video3 video4"

//         }

// }

// @media (min-width: 1500px) {
//     .box-home {
//         flex-direction: row-reverse;
//     }

//     .box-home h1 {
//         margin: 0.5em 0em;
//     }

//     .box-home p {
//         font-size: 1.5em;
//     }

//     .box-home article {
//         width: 40%;
//     }

//     .img-home {
//         width: 60%;
//     }

//     .img-home img {
//         width: 100%;


//     }

//     .w-md {
//         width: 33% !important;
//     }

// }