// nav

.nav__box {
    background-color: map-get($map: $paleta-box, $key: uno );
    .navbar-brand:hover {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    }
    ul {
        li {
            a:hover {
                font-weight: $textBold;
            }
        }
    }
}