// Estilos de la page de Partidos 

// Articulos h1 parrafos  e imagenes



.partidos__intro {

    margin-top: 2em;

    h1 {
        @include textos ($mainFont, $textMdDos, 1.6em, 500, center, black);
    }

    p {
        @include textos ($mainFont, $textSm, 1.2em, 300, center, black);
    }
}

// Start tabla proximos partidos 

.partidos__box {
    @include flex (column, center, center);
    width: $widthFull;
    

    h2 {
        @include textos ($mainFont, $textMdDos, 1.6em, 500, center, black);
    }

    p {
        @include textos ($mainFont, $textSm, 1.2em, 300, center, black);

    }

    article {
        width: $width99;
        margin-top: 1em;

        div {
            width: 100%;

            img {
                width: 100%;
                margin-bottom: 1em;
            }
        }
    }

    table {
        width: $width99;
        font-size: $textSmDos;

        thead {
            width: $widthFull;
            text-align: center;
            background-color: rgb(214, 214, 214);
            border: 1px solid black;

            th {
                border: 2px solid black;
            }
        }

        tbody {
            background-color: rgb(10, 8, 8);
            text-align: center;
            width: $widthFull;
            color: rgb(255, 255, 255);

            tr {
                width: $widthFull;
                border: 2px solid black;
            }

            .td--one {

                border: 2px solid black
            }

            .td--two {
                @include flex (row, center, center);
                padding: 1em 0em;

                img {
                    margin: 0.5em;
                }
            }

            .td--three {
                border: 2px solid black
            }
        }
    }

}