// Estilos de la page de Partidos 

// Articulos h1 parrafos  e imagenes



.partidos__intro {
    display: block;
    margin: 2em auto;
    background-color: $bgSecondary;
    width: $widthMovil;
    border-radius: $radiusMain;
    
    h1 {
        @include textos ($mainFont, $textMdDos, 1.6em, 700, center, black);
        
    }

    p {
        @include textos ($mainFont, $textMd, 1.4em, 300, center, black);
    }
}

// Start tabla proximos partidos 

.partidos__box {
    @include flex (column, center, center);
    width: $widthMovil;
    margin: 0 auto;

    h2 {
        @include textos ($mainFont, $textMdDos, 1.6em, 700, center, black);
        margin: 0.5em 0em;
    }

    p {
        @include textos ($mainFont, $textMd, 1.4em, 300, center, black);
        margin-top: 1em;
        margin-bottom: 3em;

    }

    article {
        width: $width99;
        margin: 2em 0em;
        background-color: $bgSecondary;
        border: 2px solid rgb(199, 198, 198);
        border-radius: $radiusMain;

        div {
            width: 100%;

            img {
                width: 100%;
                margin-bottom: 1em;
            }
        }
    }

    table {
        width: $width99;
        font-size: $textSmDos;
        margin-bottom: 2em;

        thead {
            width: $widthFull;
            text-align: center;
            color: rgb(240, 238, 238);
            background: rgb(2,2,31);
            background: linear-gradient(90deg, rgba(2,2,31,0.9472163865546218) 17%, rgba(156,164,193,1) 46%, rgba(2,18,74,1) 77%, rgba(13,29,83,1) 85%);
            border: 1px solid black;

            th {
                border: 2px solid black;
            }
        }

        tbody {
            background: rgb(2,2,31);
            background: linear-gradient(90deg, rgba(2,2,31,0.9472163865546218) 25%, rgba(0,29,130,1) 46%, rgba(2,18,74,1) 66%, rgba(13,29,83,1) 80%);
            text-align: center;
            width: $widthFull;
            color: rgb(255, 255, 255);

            tr {
                width: $widthFull;
                border: 2px solid black;
            }

            .td--one {

                border: 2px solid black
            }

            .td--two {
                @include flex (row, center, center);
                padding: 1em 0em;

                img {
                    width: 30%;
                    
                }
            }

            .td--three {
                border: 2px solid black
            }
        }
    }

}