

// cards index

.index-card__box {

    figure {
        width: 80%;
        border: 2px solid black;
        
    }
}

.card-body {

    figcaption {
        font-weight: $textBold;
    }

    p {
        color: black;
        font-weight: $textLight;
    }
    
}


    

