// Estilos de trayectoria page 




.trayectoria__section {
    @include flex (column,center,center);
    article {
        background-color: white;
        width: 99%;
        border: 2px solid rgb(224, 214, 157);
        margin: 0em 1em;
           
    }
    &--image {
        width: 100%;
        border: solid 2px rgb(173, 113, 113);
            img {
                width: 100%;
                
                
            }
    }

    &--text {
        h3 {
            @include textos ($mainFont, $textMd, 1.5em, 500, left, black);
            margin-left: 0.3em;
        }
        p {
            @include textos ($mainFont, $textSmDos, 1.3em, 300, left, black);
            margin-left: 0.3em;
        }
    }
    
}








