// Estilos de trayectoria page 




.trayectoria__section--equipos {
    @include flex (column,center,center);
    
    
}

.trayectoria__section--image {
    width: 99%;
    border: solid 2px rgb(173, 113, 113);
        img {
            width: 100%;
        }
}

.trayectoria__section--text {
    h3 {
        @include textos ($mainFont, $textMd, 1.5em, 500, left, black);
        margin-left: 0.3em;
    }
    p {
        @include textos ($mainFont, $textSmDos, 1.3em, 300, left, black);
        margin-left: 0.3em;
    }
}

.section--argentina {
    background-color: lightblue;
    border: 2px solid black;
    
}


.section--barcelona {
    background-color: rgb(204, 81, 107);
    border: 2px solid blue;
    
}

.section--psg {
    background: rgb(147, 147, 209);
    border: 2px solid gray;
    
}

.section--balondeoro {
    background-color: rgb(187, 183, 183);
    border: 2px solid black;
    
    
}


.section--thebest {
    background-color: rgb(80, 125, 139);
    border: 2px solid blue;
    
}

.section--botin {
    background: rgb(155, 155, 180);
    border: 2px solid gray;
    
}