// variables

// colores

// fuentes
    $mainFont: 'Roboto', sans-serif;
    $textSm: 1em;
    $textSmDos: 1.2em;
    $textMd: 1.3em;
    $textMdDos: 1.5em;
    $textLg: 2em;
    $textLight: 300;
    $textBold: 500;

 // widths 
    $widthUltraSmall: 20%;
    $widthSmall: 33%;
    $widthMid: 50%;
    $widthFull: 100%;